body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Business';
  src: local('Business'), url(./fonts/Business-axoOa.ttf) format('truetype');
}

@font-face {
  font-family: 'Lemon';
  src: local('Lemon'),
    url(./fonts/LemonMilkRegular-X3XE2.otf) format('opentype');
}
